<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>951274848218-036bqloem6r21e0kcjgcbgg6ccdrn7sl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951274848218-036bqloem6r21e0kcjgcbgg6ccdrn7sl</string>
	<key>API_KEY</key>
	<string>AIzaSyB-UPqoCz0l0UEc7BQo9zrXLQ0JsYJYZdw</string>
	<key>GCM_SENDER_ID</key>
	<string>951274848218</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gtkFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-codelab-9929f</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-codelab-9929f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951274848218:ios:19efbb422fddc5bc6b4ae3</string>
</dict>
</plist>